%p The URL for your character's image is:

%blockquote= @url

%p
  This image will update periodically, so it should never be more than
  six hours behind your character's Armory information, but its URL will
  never change. Here's what your character's image looks like:

%p
  %img{ src: @url }
