!!!

%html
  %head
    %title Best Signatures WoW Character Image Auto-Updater
  %body
    %a{ href: "https://github.com/jbhannah/bestsigs-wow-cacher/", target: "_blank" }
      %img{ src: "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",
            alt: "Fork me on GitHub",
          style: "position: absolute; top: 0; right: 0; border: 0;" }

    %h1 Best Signatures WoW Character Image Auto-Updater
    %p
      Uses the
      %a{ href: "http://www.best-signatures.com/api/" } Best Signatures API
      to generate and periodically update forum signature images for your
      %a{ href: "http://us.battle.net/wow/" } World of Warcraft
      characters. Use the form below to get your character's image URL.

    %form{ type: "post", action: url("/get-character-url") }
      %p
        %label{ for: "region" } Region:
        %select#region{ name: "region" }
          %option us
          %option eu
          %option tw
          %option cn
          %option kr

      %p
        %label{ for: "realm" } Realm:
        %input#realm{ type: "text", name: "realm", required: true }

      %p
        %label{ for: "char" } Character:
        %input#char{ type: "text", name: "char", required: true }

      %p
        %input{ type: "submit", value: "Get URL" }
