!!!

%html
  %head
    %title Best Signatures WoW Character Image Auto-Updater
  %body
    %a{ href: "https://github.com/jbhannah/bestsigs-wow-cacher/", target: "_blank" }
      %img{ src: "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",
            alt: "Fork me on GitHub",
          style: "position: absolute; top: 0; right: 0; border: 0;" }

    %h1 Best Signatures WoW Character Image Auto-Updater

    %h2 Stats

    %dl
      %dt Number of characters
      %dd= @stats[:count]

      %dt Number of realms
      %dd= @stats[:realms].count

      %dt Regions
      %dd
        %ul
          - @stats[:regions].each do |region|
            %li= region[0].upcase + ": " + region[1].to_s

      %dt Realms
      %dd
        %ul
          - @stats[:realms].each do |realm|
            %li= realm[0].upcase + "-" + realm[1] + ": " + realm[2].to_s

    %p
      %a{ href: url('/') } Back to index
